.header-outer {
    box-shadow: 0 5px 5px black;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.header {
    padding-block: 20px;
}
.header-inner {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 800px;
}
.header-option {
    cursor: default;
}
.header-option.active {
    --fg: white;
    --bg: black;
    border-color: black;
}



/* general */
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.inactive {
    display: none;
}

.btn {
    --fg: black;
    --bg: white;
    color: var(--fg);
    background-color: var(--bg);
    border: 1px var(--fg) solid;
    border-radius: 8px;
    padding-inline: 5px;
    padding-block: 3px;
    text-decoration: none;
}
.btn:hover {
    --fg: white;
    --bg: black;
    border-color: black;
}
.btn:disabled:hover,
.btn:disabled {
    background-color: #0000;
    --fg: black;
    opacity: 0.7;
}

.btn.recording-btn {
    background-color: red;
    color: white;
    border-color: red;
    animation: recording 2s infinite;
}
@keyframes recording {
    0%, 100% {
        background-color: red;
        color: white;
        border-color: red;
    }
    50% {
        background-color: white;
        color: red;
        border-color: red;
    }
}


/* starting popup */
.first-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    max-width: 400px;
    aspect-ratio: 16/9;

    font-size: 1.2rem;
    font-weight: bold;
    border-right: 1px lightgray solid;
    border-top: 1px lightgray solid;
}
.first-popup.inactive {
    display: none;
}
.first-popup .btn {
    border-color: red;
    color: red;
    cursor: default;
}
.first-popup .btn:hover {
    background-color: red;
    color: white;
}


/* Voice */
canva {
    border: 1px black solid;
}
.voice-record-button {
    width: 7ch;
    --fg: black;
    --bg: white;
    color: var(--fg);
    background-color: var(--bg);
    border: 1px var(--fg) solid;
    border-radius: 8px;
    padding-inline: 5px;
    padding-block: 3px;
}
.voice-record-button:hover {
    --fg: white;
    --bg: black;
    border-color: black;
}
.voice-clips {
    display: flex;
    flex-direction: column;

    padding: 20px;
    margin-top: 20px;
}
.voice-clip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.voice-clip-info_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.voice-clip-buttons {
    display: flex;
    gap: 5px;
}


/* video */

video {
    width: 100%;
    aspect-ratio: 16/9;
}